@import "variables";
@import "global";

.block {
  padding: 5rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: darken($movshoBlue, 40%);

  .title {
    font-size: 2rem;
    font-family: $headingFont;
    color: $lightBlue;
    letter-spacing: 0.1rem;
    @include device("MD") {
      font-size: 2.5rem;
      width: 100%;
      text-align: center;
      margin: 1rem;
    }
  }

  img {
    width: 10rem;
    justify-self: center;
    @include device("MD") {
      width: 15rem;
    }
  }

  button {
    margin: 2rem;
    width: 20rem;
    color: $lightBlue;
    border-radius: 0.5rem;
    background: $movshoBlue;
    border-width: 0.2rem;
    padding: 0.8rem;
    font-size: 2rem;
    @include device("MD") {
      width: 30rem;
      padding: 1.5rem;
      font-size: 2.5rem;
    }
  }
}
