@import "variables";
@import "global";

.block {
  background: hsl(215, 100%, 3%);
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45rem, 1fr));
}

.listBlock {
  background: rgb(10, 16, 35);
  background: linear-gradient(
    180deg,
    rgba(23, 1, 146, 0.911) 0%,
    rgba(10, 16, 35, 0.65) 50%
  );
  border: 0.2rem outset darken($movshoBlue, 25%);
  padding: 1rem;
  display: grid;
  padding: 2rem;
  margin: 1rem 1rem 5rem 1rem;
  color: $lightBlue;

  .name {
    color: $lightBlue;
    padding: 1rem;
    letter-spacing: 0.1rem;
    text-align: center;
    font-family: $headingFont;
    font-size: 2.3rem;
    @include device("SM") {
      font-size: 2rem;
    }
  }

  .plot {
    color: $lightBlue;
    font-size: 1.5rem;
    margin: 0;
    line-height: 2.4rem;
    height: 10rem;
    padding: 0.5rem;
    border-radius: 1rem;

    @include device("SM") {
      font-size: 1.9rem;
      height: 10rem;
    }
  }

  .ratings {
    list-style: none;
    display: grid;
    grid-template-rows: auto auto;
    font-size: 1.3rem;
    grid-row-gap: 0.5rem;
    padding-left: 0;
    @include device("SM") {
      font-size: 1.6rem;
    }
    b {
      padding: 0.5rem;
    }
    li {
      padding: 0.2rem;
    }
  }

  .movshoRating {
    text-align: right;
    font-size: 1.7rem;
    img {
      width: 3rem;
    }
  }

  .poster {
    justify-self: center;
    width: 25rem;
    border: ridge 0.5rem lighten($movshoBlue, 50%);
  }

  .releaseDate {
    text-align: right;
    @include device("SM") {
      font-size: 1.8rem;
    }
  }

  .genre {
    padding: 1rem;
    @include device("SM") {
      font-size: 1.7rem;
    }
  }

  .stream {
    font-size: 1.4rem;
    margin-bottom: 5rem;
    @include device("SM") {
      font-size: 1.9rem;
    }
  }

  .addedMessage {
    color: #31ae7a;
    font-size: 2rem;
    text-align: center;
  }

  .watchBtn {
    width: 17rem;
    margin: 0 auto;
    color: #314fae;
    border: outset 0.25rem lighten($movshoYellow, 30%);
    background: $movshoYellow;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 2rem;
    padding: 0.5rem 0 0.5rem 0;
    @include device("SM") {
      padding: 2rem;
    }

    &:hover {
      background: lighten($movshoYellow, 5%);
      transform: scale(1.05);
      cursor: pointer;
      transition: background 200ms, transform 200ms;
    }

    &:active {
      border-style: inset;
      background: darken($movshoYellow, 1%);
      transition: background 200ms, border-style 200ms;
    }

    .eyes {
      display: block;

      margin: 0 auto;
    }
  }
}

.reviewBtn {
  background: #bd3737;
  color: $lightBlue;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 1rem;
  border-radius: 0.5rem;

  &:hover {
    background: lighten(#bd3737, 5%);
    transform: scale(1.05);
    cursor: pointer;
    transition: background 200ms, transform 200ms;
  }

  &:active {
    background: darken(#bd3737, 2%);
    transition: background 200ms;
  }
}
