@import "variables";
@import "global";

.block {
  background: linear-gradient(
    90deg,
    darken($movshoBlue, 15%) 0%,
    darken($movshoBlue, 25%) 50%,
    darken($movshoBlue, 35%) 100%
  );
  padding: 10rem;
  z-index: 1;

  @include device("SM") {
    padding: 5rem 5rem 20rem 5rem;
  }

  .header {
    letter-spacing: 0.37rem;
    font-family: $headingFont;
    font-size: 6rem;
    padding: 0.5rem;
    color: lighten($movshoBlue, 30%);
    border-bottom: 0.3rem solid $movshoBlue;
    text-shadow: -1px 1px 0px #000000;
    @include device("SM") {
      font-size: 4rem;
    }
  }

  .subHeader {
    font-size: 4rem;
    color: $lightBlue;
    margin-bottom: 2rem;
    @include device("XSM") {
      font-size: 5rem;
      color: lighten($movshoBlue, 30%);
    }
  }
}

.picksBlock {
  grid-column: 1/3;
  margin-top: 8rem;

  .selectionBlock {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10rem;
    @include device("SM") {
      grid-column: 1/3;
      grid-row: 2/3;
    }

    .infoBlock {
      padding: 2rem;
      grid-column: 2/3;
      grid-row: 2/3;
      border-radius: 2rem;
      background: linear-gradient(180deg, #fafafa10 0%, #c08b0f00 100%);
      display: grid;

      @include device("XSM") {
        grid-column: 1/3;
        width: 40rem;
        justify-self: center;
        grid-row: 3/3;
      }

      .hashLink {
        color: $movshoYellow;
        text-shadow: -2px 2px 1px $movshoBlue;
        font-size: 5rem;
        font-family: $headingFont;
        justify-self: end;
        align-self: center;
        z-index: 1;

        @include device("SM") {
          margin-top: 5rem;
          font-size: 3.5rem;
        }

        @include device("XSM") {
          font-size: 5rem;
          margin-top: 2rem;
          justify-self: center;
        }
      }

      .title {
        font-weight: 300;
        color: $lightBlue;
        font-size: 4rem;
        @include device("XSM") {
          text-align: center;
          font-size: 3rem;
          font-weight: bold;
          letter-spacing: 0.3rem;
        }
      }

      .plot {
        width: 100%;
        height: 100%;
        color: $lightBlue;
        font-size: 2.4rem;
        line-height: 3.2rem;
        @include device("XSM") {
          display: none;
        }
      }

      .releaseDate {
        color: $lightBlue;
        font-size: 1.4rem;
        @include device("XSM") {
          display: none;
        }
      }
    }

    .posterBlock {
      grid-column: 1/2;
      @include device("XSM") {
        grid-column: 1/3;
        grid-row: 2/3;
      }

      img {
        display: block;
        width: 25rem;
        grid-column: 1/2;
        grid-row: 2/3;
        box-shadow: 0px 0px 7px #290511;
        @include device("XSM") {
          width: 40rem;
          margin: 0 auto;
        }
      }

      .addButton {
        z-index: 10;
        display: block;
        width: 100%;
        color: $movshoYellow;
        border: outset 0.3rem lighten($movshoBlue, 2%);
        background: darken($movshoBlue, 35%);
        border-radius: 0.5rem;
        font-weight: 700;
        font-size: 2.5rem;
        padding: 1rem;
        @include device("SM") {
          padding: 2rem;
          font-size: 3.5rem;
        }
        @include device("XSM") {
          margin: 0 auto;
          width: 40rem;
        }

        &:hover {
          background: darken($movshoBlue, 35%);
          transform: scale(1.05);
          cursor: pointer;
          transition: background 200ms, transform 200ms;
        }

        &:active {
          border-style: inset;
          background: darken($movshoBlue, 37%);
          transition: background 200ms, border-style 200ms;
        }
      }
    }
  }
}
