$veryDarkBlue: #0e1429;
$almostBlack: #080913;
$movshoYellow: #f9ba00;
$movshoBlue: #314fae;
$lightYellow: #fbfbf2;
$lightBlue: #e0e6ff;

$mainFont: roboto, sans-serif;
$headingFont: balboa, sans-serif;
