@import "variables";
@import "global";

.block {
  display: flex;
  text-align: right;
  border-radius: 2rem;
  justify-content: flex-end;
  @include device("XSM") {
    justify-content: center;
  }

  @include device("XSM") {
    padding: 5rem;
  }

  @include device("SM") {
    margin-top: 5rem;
  }

  .link {
    text-decoration: none;
  }

  img {
    width: 25rem;
    border: 0.4rem outset $movshoBlue;
  }

  h3 {
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    color: $movshoYellow;
    font-size: 3rem;
    border-bottom: $movshoBlue solid 1rem;
    font-family: $headingFont;
    letter-spacing: 0.3rem;
    @include device("XSM") {
      font-size: 2.4rem;
    }
  }
}
